
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/wwwroot/jquery-3.2.1.min.js"></script> 

    <script>
        $(function () {
            $("#btnClick").click(function () {
                $.ajax({
                    url: "http://localhost:59227/http/GetPersonelDataList",
                    type: "POST",
                    crossDomain:true,
                    dataType: "json", 
                    success: function (result) {
                        alert(JSON.stringify(result));
                    },
                    error: function (xhr, status, error) {
                        alert("err - " + status + " - " + error);
                    }
                });
            });
        });
    </script>
</head>
<body>
    <button id="btnClick">Get Service</button>
</body>
</html>
